<a href="https://colab.research.google.com/github/SameerR007/BookrecommenderNYTbestseller/blob/main/BookrecommenderNYTbestsellerData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [192]:
import pandas as pd
data=pd.read_csv("booksnyt.csv")

In [ ]:
data.head()

In [194]:
data.columns.tolist()

['Unnamed: 0', 'title', 'author', 'genres', 'description', 'title_gs', 'tags']

In [195]:
data.drop(['Unnamed: 0','tags'],axis=1,inplace=True)

In [196]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        90 non-null     object
 1   author       90 non-null     object
 2   genres       90 non-null     object
 3   description  70 non-null     object
 4   title_gs     90 non-null     object
dtypes: object(5)
memory usage: 3.6+ KB

In [197]:
data.columns.tolist()

['title', 'author', 'genres', 'description', 'title_gs']

In [198]:
import numpy as np
data['description']=np.nan
data['genres']=np.nan
data['author']=np.nan
data['img']=np.nan

In [ ]:
data.head()

In [200]:
data.shape

(90, 6)

In [201]:
data.drop_duplicates(["title"],inplace=True)

In [ ]:
data.head(15)

In [203]:
data.reset_index(inplace=True)

In [ ]:
data.head(20)

In [205]:
data.shape

(74, 7)

In [206]:
import requests
j=0
for i in data['title_gs']:
    data_id=requests.get("https://www.googleapis.com/books/v1/volumes?q="+i).json()
    try:
      btt=str(data_id['items'][0]['volumeInfo']['title'])
      ba=str(data_id['items'][0]['volumeInfo']['authors'][0])
      data['title'][j]=btt
      data['author'][j]=ba
      data['img'][j]=data_id['items'][0]['volumeInfo']['imageLinks']['thumbnail']
    except:
      pass
    try:
      desc=str(data_id['items'][0]['volumeInfo']['description'])
      data["description"][j]=desc
      print(j)
    except:
      pass
    try:
      data["genres"][j]=str(data_id['items'][0]['volumeInfo']['categories'][0])
    except:
      data["genres"][j]=" "
 
    j=j+1

<ipython-input-206-1586a4ecb06d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['title'][j]=btt
<ipython-input-206-1586a4ecb06d>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['author'][j]=ba
<ipython-input-206-1586a4ecb06d>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['img'][j]=data_id['items'][0]['volumeInfo']['imageLinks']['thumbnail']
<ipython-input-206-1586a4ecb06d>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["description"][j]=desc
<ipython-input-206-1586a4ecb06d>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["genres"][j]=str(data_id['items'][0]['volumeInfo']['categories'][0])

0
1
2
3
4
5
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73

In [253]:
data.head()

,index,title,author,genres,description,title_gs,img,tags
0,0,Happy Place,EmilyHenry,Fiction,Harriet and Wyn are the perfect couple - they ...,HAPPY+PLACE,http://books.google.com/books/content?id=-AxSz...,fiction emilyhenri harriet and wyn are the per...
1,1,It Ends with Us,ColleenHoover,Fiction,In this “brave and heartbreaking novel that di...,IT+ENDS+WITH+US,http://books.google.com/books/content?id=wmnuD...,fiction colleenhoov in thi “brave and heartbre...
2,2,The Making of Another Major Motion Picture Mas...,TomHanks,Fiction,From the Academy Award-winning actor and bests...,THE+MAKING+OF+ANOTHER+MAJOR+MOTION+PICTURE+MAS...,http://books.google.com/books/content?id=H8aOE...,fiction tomhank from the academi award-win act...
3,3,Fourth Wing,RebeccaYarros,Fiction,An Instant New York Times Bestseller An Amazon...,FOURTH+WING,http://books.google.com/books/content?id=E-OLE...,fiction rebeccayarro an instant new york time ...
4,4,Lessons in Chemistry,BonnieGarmus,Fiction,As read on BBC Radio 4 Book at Bedtime THE #1 ...,LESSONS+IN+CHEMISTRY,http://books.google.com/books/content?id=G2U4E...,fiction bonniegarmu as read on bbc radio 4 boo...

In [209]:
data.dropna(inplace=True)

In [210]:
data.shape

(72, 7)

In [211]:
def remove(s):
  s=str(s)
  return(s.replace(" ",""))

In [212]:
data["author"]=data["author"].apply(remove)

In [223]:
data["author"]

0          EmilyHenry
1       ColleenHoover
2            TomHanks
3       RebeccaYarros
4        BonnieGarmus
           ...
69        LauraNowlin
70    KathleenGlasgow
71        LynnPainter
72         AmberSmith
73     KarenM.McManus
Name: author, Length: 72, dtype: object

In [224]:
data["genres"]=data["genres"].apply(remove)

In [225]:
combined_features = data['genres']+' '+data['author']+' '+data['description']

In [226]:
combined_features

0     Fiction EmilyHenry Harriet and Wyn are the per...
1     Fiction ColleenHoover In this “brave and heart...
2     Fiction TomHanks From the Academy Award-winnin...
3     Fiction RebeccaYarros An Instant New York Time...
4     Fiction BonnieGarmus As read on BBC Radio 4 Bo...
                            ...
69    JuvenileFiction LauraNowlin If he had been wit...
70    YoungAdultFiction KathleenGlasgow #1 NEW YORK ...
71    JuvenileFiction LynnPainter A USA TODAY and Ne...
72    YoungAdultFiction AmberSmith "After fourteen-y...
73    YoungAdultFiction KarenM.McManus The internati...
Length: 72, dtype: object

In [227]:
def low(a):
    return(a.lower())

In [228]:
combined_features=combined_features.apply(low)

In [229]:
combined_features

0     fiction emilyhenry harriet and wyn are the per...
1     fiction colleenhoover in this “brave and heart...
2     fiction tomhanks from the academy award-winnin...
3     fiction rebeccayarros an instant new york time...
4     fiction bonniegarmus as read on bbc radio 4 bo...
                            ...
69    juvenilefiction lauranowlin if he had been wit...
70    youngadultfiction kathleenglasgow #1 new york ...
71    juvenilefiction lynnpainter a usa today and ne...
72    youngadultfiction ambersmith "after fourteen-y...
73    youngadultfiction karenm.mcmanus the internati...
Length: 72, dtype: object

In [230]:
data['tags']=combined_features

In [231]:
data['tags'].apply(len).median()

1194.5

In [247]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
import pickle
pickle.dump(ps,open("ps.pkl","wb"))

In [233]:
def stem(a):
    y=[]
    for i in a.split():
        y.append(ps.stem(i))
    return(" ".join(y))

In [234]:
data['tags']=data['tags'].apply(stem)

In [235]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=10000,stop_words='english')

In [236]:
vec=cv.fit_transform(data['tags'])

In [248]:
import pickle
pickle.dump(cv,open("cv.pkl","wb"))

In [249]:
pickle.dump(vec,open("vec.pkl","wb"))

In [237]:
len(cv.get_feature_names_out())

3291

In [238]:
cv.get_feature_names_out()

array(['000', '100', '11', ..., 'zott', 'zotty', 'émigré'], dtype=object)

In [239]:
from sklearn.metrics.pairwise import cosine_similarity

In [240]:
vec.shape

(72, 3291)

In [241]:
similarity=cosine_similarity(vec)

In [242]:
similarity.shape

(72, 72)

In [243]:
data.shape

(72, 8)

In [244]:
def gsearch(book):
  a=book.split()
  if len(a)==1:
    return(a[0])
  else:
    abc=""
    for i in a:
      abc=abc+i+"+"
    return(abc[0:len(abc)-1])

In [246]:
data.to_csv("streamlitdata.csv")

In [245]:
def recommend(book):
    gs=gsearch(book)
    data_id=requests.get("https://www.googleapis.com/books/v1/volumes?q="+gs).json()
    
    booka=ba=str(data_id['items'][0]['volumeInfo']['authors'][0])
    desc=str(data_id['items'][0]['volumeInfo']['description'])
    genres=str(data_id['items'][0]['volumeInfo']['categories'][0])
    tag=genres+" "+booka+" "+desc
    tag=tag.lower()
    tag=stem(tag)
    vec1=cv.transform([tag])
    from scipy.sparse import vstack
    fvec=vstack([vec1, vec])
    similarity=cosine_similarity(fvec)
    distances=similarity[0]
    #print(distances)
    print(sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1]))
    book_list_index=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1]
    if (str(data.iloc[book_list_index[0]-1]['title']).lower())==(book.lower()):
      print("**")
      book_list_index=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[2]
      print("Book recomended-"+data.iloc[book_list_index[0]-1]['title'])
      print("Similarity percentage="+str(round(book_list_index[1]*100,2)))
      print("Synopsis")
      print(data.iloc[book_list_index[0]-1]['description'])
    else:
      print("Book recomended-"+data.iloc[book_list_index[0]-1]['title'])
      print("Similarity percentage="+str(round(book_list_index[1]*100,2)))
      print("Synopsis")
      print(data.iloc[book_list_index[0]-1]['description'])

In [252]:
book_name = input(' Enter book name : ')
recommend(book_name)

 Enter book name : A Good Girl's Guide to Murder
[(0, 1.0000000000000009), (37, 0.9802053704292275), (40, 0.2286709562296675), (18, 0.21808163178359585), (58, 0.19889676994268402), (13, 0.19191574817487056), (4, 0.1909132295732775), (14, 0.1899985631412993), (47, 0.18914979873924997), (2, 0.1880004502732226), (49, 0.18328557286053768), (67, 0.15707234190087724), (35, 0.15697584453740765), (25, 0.1566535901061839), (69, 0.15598233600061526), (59, 0.15579940837112777), (72, 0.1536883531667981), (48, 0.14428986028327978), (16, 0.14065934485336348), (41, 0.1403696239590397), (7, 0.13582423754397915), (38, 0.13036250236349373), (3, 0.1301325365347157), (24, 0.12809164997749806), (5, 0.12698551556868345), (52, 0.12605760224021306), (62, 0.12538591243027455), (10, 0.12441341769227567), (64, 0.124199972676009), (42, 0.11598711705208613), (68, 0.10943108619430444), (30, 0.10874556088632192), (21, 0.1055783160014506), (33, 0.09993755853278152), (27, 0.09857780049935491), (11, 0.09599917917212758), (28, 0.09579159651319533), (55, 0.09554691770615137), (50, 0.09504294521816609), (70, 0.09497354911348205), (54, 0.0943290435047989), (51, 0.09231135402821744), (1, 0.09160942865504973), (65, 0.09031318330022142), (8, 0.08833315666719664), (60, 0.08674143788610468), (57, 0.0865484644815831), (31, 0.08311989560377758), (44, 0.0806703320680994), (20, 0.08010851103342269), (19, 0.079499841000477), (43, 0.07408159078957739), (61, 0.07404461206330809), (23, 0.07298407353386312), (29, 0.07287485425043726), (53, 0.07224460082716948), (63, 0.06704015231539909), (56, 0.06441009492646017), (46, 0.06320606175199696), (12, 0.06236480624445477), (32, 0.06172613909377682), (26, 0.060596045558383195), (71, 0.06009623101612528), (45, 0.059972448740488855), (34, 0.05711437181588501), (17, 0.05453644100254487), (66, 0.052999894000318), (36, 0.049288900249677456), (15, 0.04175536213875101), (22, 0.041053541362798), (6, 0.03977529549197075), (39, 0.020788268748151588), (9, 0.0)]
**
Book recomended-Five Survive
Similarity percentage=22.87
Synopsis
INSTANT #1 NEW YORK TIMES BESTSELLER • From the author of the multimillion-copy bestselling A Good Girl’s Guide to Murder series comes a new blockbuster thriller about a road trip that turns deadly. Eight hours. Six friends. Five survive. Red Kenny is on a road trip for spring break with five friends: Her best friend - the older brother - his perfect girlfriend - a secret crush - a classmate - and a killer. When their RV breaks down in the middle of nowhere with no cell service, they soon realize this is no accident. They have been trapped by someone out there in the dark, someone who clearly wants one of them dead. With eight hours until dawn, the six friends must escape, or figure out which of them is the target. But is there a liar among them? Buried secrets will be forced to light and tensions inside the RV will reach deadly levels. Not all of them will survive the night. . . . With edge-of-your-seat tension and a gripping mystery, Holly Jackson has written another instant classic!

In [150]:
"Happy Place".lower()=="Happy Place".lower()

True

In [ ]:
a[1]=[7,8,9]

In [ ]:
a

[1, [7, 8, 9], 4]